/* Custom Css*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");
* {
  font-family: "Poppins", sans-serif;
}

body {
  background: #eef5f9;
  font-size: 14px;
  max-width: 1480px;
  margin: 0 auto;
}
body.menu-collapsed nav {
  width: 4%;
  transition: width 0.5s ease-in-out;
}
body.menu-collapsed header {
  width: 96%;
  transition: width 0.5s ease-in-out;
}
body.menu-collapsed ul.main-menu li a span {
  margin-left: 0;
  font-size: 0;
  width: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
body.menu-collapsed ul.main-menu li a:hover small {
  width: auto;
  overflow: initial;
  opacity: 1;
  position: absolute;
  font-size: initial;
  width: auto;
  z-index: 1000;
  opacity: 1;
  background: #2f419b;
  margin-left: 26px;
  line-height: 30px;
  margin-top: 10px;
  padding: 0 10px;
  transition: all 0.2s ease-in-out;
}
body.menu-collapsed .menu-toggle .icon-chevron-left-1 {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}
body.menu-collapsed .logo-space img {
  max-width: 80%;
  transition: max-width 0.5s ease-in-out;
}
body.menu-collapsed content {
  padding-left: 4%;
}

nav {
  position: fixed;
  left: 0;
  width: 18%;
  background: #ffffff;
  top: 0;
  height: 100%;
  box-shadow: 0px 1px 10px 1px rgba(175, 175, 175, 0.46);
  transition: width 0.5s ease-in-out;
}

header {
  width: 82%;
  float: right;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  box-shadow: 1px 1px 1px 1px #eee;
  transition: width 0.5s ease-in-out;
}

content {
  width: 100%;
  padding-left: 18%;
  padding-top: 2%;
  float: left;
  background: #f3f6ff;
  height: 100vh;
  overflow-y: auto;
}

.logo-space {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.logo-space img {
  max-width: 60px;
  transition: max-width 0.5s ease-in-out;
}

.menu-toggle {
  float: left;
  text-decoration: none;
  font-size: 14px;
  margin-right: 10px;
  font-weight: 300;
  color: #666;
  padding-left: 15px;
}
.menu-toggle:hover {
  color: #2F419B;
  text-decoration: none;
}
.menu-toggle i {
  font-size: 18px;
  line-height: 50px;
  float: left;
}
.menu-toggle .icon-chevron-left-1 {
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}
.menu-toggle span {
  float: left;
  line-height: 52px;
  margin-left: 20px;
  font-size: 14px;
}

ul.main-menu {
  list-style-type: none;
  margin-top: 0px;
  float: left;
  padding: 0;
  height: 83vh;
}
ul.main-menu li {
  float: left;
  width: 100%;
  padding-left: 15px;
}
ul.main-menu li:hover, ul.main-menu li.active {
  background: #f3f6ff;
}
ul.main-menu li:hover a, ul.main-menu li.active a {
  color: #2F419B;
  font-weight: 500;
}
ul.main-menu li a {
  color: #666;
}
ul.main-menu li a i {
  font-size: 18px;
  line-height: 50px;
  float: left;
}
ul.main-menu li a span {
  float: left;
  line-height: 52px;
  margin-left: 20px;
  font-size: 14px;
  width: auto;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
ul.main-menu li a small {
  width: 0;
  overflow: hidden;
  opacity: 0;
  font-size: 0;
}

#progress {
  position: fixed;
  z-index: 1;
  top: 0;
  left: -6px;
  width: 1%;
  height: 3px;
  background-color: #506dff;
  border-radius: 1px;
  transition: width 1000ms ease-out, opacity 500ms linear;
}
#progress b, #progress i {
  position: absolute;
  top: 0;
  height: 3px;
  -ms-box-shadow: #777777 1px 0 6px 1px;
  box-shadow: #777777 1px 0 6px 1px;
  border-radius: 100%;
}
#progress b {
  clip: rect(-6px, 22px, 14px, 10px);
  opacity: 0.6;
  width: 20px;
  right: 0;
}
#progress i {
  clip: rect(-6px, 90px, 14px, -6px);
  opacity: 0.6;
  width: 180px;
  right: -80px;
}

.page-navigation {
  width: auto;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 3px;
  margin: 10px 0 0 20px;
  font-weight: 500;
  color: #2f419b;
  border: 1px solid #d0d0d0;
}/*# sourceMappingURL=styles.css.map */