<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
 
<div class="pc-tab">
  <input checked="checked" id="tab1" type="radio" name="pct" />
  <input id="tab2" type="radio" name="pct" />
  <!-- <input id="tab3" type="radio" name="pct" /> -->
  <div class="row">
      <div class="col-md-12 p-l-0 m-t-10 ">
          <h5 class="m-b-10">Progress-bar</h5>
      </div>
  </div>
  <nav>
      <ul>
          <li class="tab1">
              <label for="tab1">Details</label>
          </li>
          <li class="tab2">
              <label for="tab2">Source Code</label>
          </li>
          <!-- <li class="tab3">
          <label for="tab3">Third Tab</label>
        </li> -->
      </ul>
  </nav>


  <section class="tabsection">
      <div class="tab1">
        <section>
          <h6 class="text-dark weight-500 m-b-30">  Progress-bar </h6>
            <div class="bars m-b-30">
              <div>
                <p>.progress-bar-10</p>
                <div class="progress-bar progress-bar-10"></div>
              </div>
              <div>
                <p>.progress-bar-20</p>
                <div class="progress-bar progress-bar-20"></div>
              </div>
              <div>
                <p>.progress-bar-30</p>
                <div class="progress-bar progress-bar-30"></div>
              </div>
              <div>
                <p>.progress-bar-40</p>
                <div class="progress-bar progress-bar-40"></div>
              </div>
              <div>
                <p>.progress-bar-50</p>
                <div class="progress-bar progress-bar-50"></div>
              </div>  
              </div>
              <div class="bars">
              <div>
                <p>.progress-bar-60</p>
                <div class="progress-bar progress-bar-60"></div>
              </div>
              <div>
                <p>.progress-bar-70</p>
                <div class="progress-bar progress-bar-70"></div>
              </div>
              <div>
                <p>.progress-bar-80</p>
                <div class="progress-bar progress-bar-80"></div>
              </div>
                <div>
                <p>.progress-bar-90</p>
                <div class="progress-bar progress-bar-90"></div>
              </div>
                <div>
                <p>.progress-bar-100</p>
                <div class="progress-bar progress-bar-100"></div>
              </div>
            </div>  
        </section>
               </div>
      <div class="tab2">
       
           
          <div class="row">
            <div class="col-md-12 p-0">
              <h6 class="m-t-20 m-b-0">HTML</h6>
            </div>
          </div>
          
          <div class="html-content m-t-10">
              <pre>
      <![CDATA[
      <section>
        <h6 class="text-dark weight-500 m-b-30">  Progress-bar </h6>
          <div class="bars m-b-30">
            <div>
              <p>.progress-bar-10</p>
              <div class="progress-bar progress-bar-10"></div>
            </div>
            <div>
              <p>.progress-bar-20</p>
              <div class="progress-bar progress-bar-20"></div>
            </div>
            <div>
              <p>.progress-bar-30</p>
              <div class="progress-bar progress-bar-30"></div>
            </div>
            <div>
              <p>.progress-bar-40</p>
              <div class="progress-bar progress-bar-40"></div>
            </div>
            <div>
              <p>.progress-bar-50</p>
              <div class="progress-bar progress-bar-50"></div>
            </div>  
            </div>
            <div class="bars">
            <div>
              <p>.progress-bar-60</p>
              <div class="progress-bar progress-bar-60"></div>
            </div>
            <div>
              <p>.progress-bar-70</p>
              <div class="progress-bar progress-bar-70"></div>
            </div>
            <div>
              <p>.progress-bar-80</p>
              <div class="progress-bar progress-bar-80"></div>
            </div>
              <div>
              <p>.progress-bar-90</p>
              <div class="progress-bar progress-bar-90"></div>
            </div>
              <div>
              <p>.progress-bar-100</p>
              <div class="progress-bar progress-bar-100"></div>
            </div>
          </div>  
      </section>
  ]]>

  </pre>
          </div>
      </div>

  </section>

</div>


<div class="pc-tab1 m-t-20">
  <input checked="checked" id="pctab1" type="radio" name="pcpct" />
  <input id="pctab2" type="radio" name="pcpct" />
  <!-- <input id="tab3" type="radio" name="pct" /> -->
  <nav>
      <ul>
          <li class="pctab1">
              <label for="pctab1"> Details</label>
          </li>
          <li class="pctab2">
              <label for="pctab2">Source Code</label>
          </li>
          <!-- <li class="tab3">
          <label for="tab3">Third Tab</label>
        </li> -->
      </ul>
  </nav>
  <section class="tabsection">
      <div class="pctab1">
      <section>
      <div class="wizard-progress">
        <div class="step complete">
            <div class="node"></div>
            <div class="status"> One </div>
        </div>
        <div class="step complete">
            <div class="node"></div>
            <div class="status">
                Two
            </div>
        </div>
        <div class="step in-progress">
            <div class="node"></div>
            <div class="status">
                Three
            </div>
        </div>
        <div class="step">
            <div class="node"></div>
            <div class="status">  Complete</div>
        </div>
        <div class="step">
            <div class="node"></div>
            <div class="status">  Complete </div>
        </div>
        <div class="step">
            <div class="node"></div>
            <div class="status">  Complete CMC  </div>
        </div>
        <div class="step">
            <div class="node"></div>
            <div class="status">  Complete </div>
        </div>
        <div class="step">
            <div class="node"></div>
            <div class="status">  Complete  </div>
        </div>
        <div class="step">
            <div class="node"></div>
            <div class="status">  Complete </div>
        </div>
        <div class="step">
            <div class="node"></div>
            <div class="status">  Complete  </div>
        </div>
    </div>
    </section>
           </div>
      <div class="pctab2">
        
        <div class="row">
          <div class="col-md-12">
            <h6 class="">HTML</h6>
          </div>
        </div>
          <div class="html-content">
              <pre>

      <![CDATA[
    
      
  <section>
    <h6 class="text-dark weight-500 m-b-30">  Progress-bar </h6>
    <div class="progress progress-striped">
      <div class="progress-bar1">
      </div>                       
    </div>  <br>  <br>  <br>
    <div class="progress2 progress-moved">
      <div class="progress-bar2" >
      </div>                       
    </div> 
 
    </section>
  ]]> 

  </pre>
          </div>
      </div>

  </section>
</div>





   