



@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;320;350;380;400;420;450;480;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
//$font-family:'Lexend', sans-serif;
$font-family: 'Lexend Deca', sans-serif; //Finalized by team
//$font-family: 'Niramit', sans-serif; // Nice font
//$font-family:'Syne', sans-serif; // Nice font 1
//$font-family:'Figtree', sans-serif; // Nice font 2
//$font-family:'Urbanist', sans-serif;// Nice font 2
$font-family-body:'Be Vietnam Pro', sans-serif;
//$font-family-menu:'Outfit', sans-serif;

// Fontsizes
$font-sm:11px;
$font-base:14px;
$font-md:16px;
$font-lg:18px;
$font-xl:20px;
$font-xxl:24px;

// navigation
$sidebar-width:250px;
$sidebar-width-collapsed:70px;

$nav-icon:16px;
$nav-text:14px;


// header
$pageheader-height:50px;
$pagetitle-height:38px;

//Shadows
$box-shadow-pop:0 24px 54px rgb(0 0 0 / 7%), 0 4.5px 13.5px rgb(0 0 0 / 7%);
$box-shadow-app-launcher:rgba(0, 0, 0, 0.22) 0px 25.6px 57.6px 0px, rgba(0, 0, 0, 0.18) 0px 4.8px 14.4px 0px;
$card-shadow: 0 1px 2px rgba(56,65,74,.15);
$pagetitle-shadow: 0 1px 2px rgba(56,65,74,.15);

