/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Rubik:wght@300;400;500;600&display=swap');
html, body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
   
}
.maincontainer{
    width: 96%;
    max-width: 1420px;
    margin:0 auto;
}

h5{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.m-l-10{
    margin-left: 10px;
}
.m-b-0{
    margin-bottom: 0px;
}
.m-b-5{
    margin-bottom: 5px;
}
.m-b-10{
    margin-bottom: 10px;
}