/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Rubik:wght@300;400;500;600&display=swap');
@import "assets/themes/variables";
@import "assets/themes/blue.scss";
@import "assets/themes/green.scss";
@import "assets/themes/dark.scss";
@import "assets/themes/light.scss";
@import "assets/themes/theming-function";

html, body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
   
}
.maincontainer{
    width: 96%;
    max-width: 1420px;
    margin:0 auto;
}

h5{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.m-l-10{
    margin-left: 10px;
}
.m-b-0{
    margin-bottom: 0px;
}
.m-b-5{
    margin-bottom: 5px;
}
.m-b-10{
    margin-bottom: 10px;
}
.html-content{
    background: #666 !important;
    color: #fff !important;
    float: left !important;
    width: 100% !important;
    padding: 10px !important;
    font-size: 13px !important;
}
.code{
    color: #5e000c;
}
.font14{
    font-size: 14px
}
pre {
    font-family: monospace, monospace;
    font-size: 100%;
    line-height: 18px;
    word-break: break-word;
    white-space: break-spaces;
}
.copybutton{
    float: right;
    position: relative;
    top: 46px;
    margin-top: -25px;
    margin-right: 12px;
    font-size: 13px;
    color: #fff;
    background: #484845;
    padding: 5px;
    border-radius: 6px;
}
section {
    border-bottom: 1px solid #e9ecef;
   // padding: 2.25rem 0.75rem;
   padding:1rem 0 2rem 0;
}
.code-highlighter{
    span{
        background-color: #EBF0FF;
        border:1px solid #CCDEF8;
        padding: 1px 2px;
        border-radius: 4px;
    }
}
//Icons
@import "assets/scss/vendors/icons";

//Tabs
@import "assets/tabs";

//Margin Paddings
@import "assets/margin-paddings";

//Prism
@import "~prismjs/themes/prism-dark.css";