<div class="container">
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
            <h2 class="m-b-10 display-b">Checkbox's & Radio</h2>
            <p class="m-b-30">The checkbox is a component used to allow a user to make multiple choices that are broadly used in forms and surveys. Checkboxes are used to select one or several options in a list, while radio (option) buttons are for selecting one option from many.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="ngtabs">
                <ul>
                    <li id="tab1" *ngFor="let tab of commontablist; index as i; first as isFirst">
                        <a (click)="openTabList(i)" [ngClass]="{'active': selectedList === i }"
                            href="javascript:void(0)"> {{tab}} </a>
                    </li>
                </ul>
            </div>
            <div class="ng-tabcontent">
                <ng-container *ngIf="selectedList === 0">


                    <div class="row">
                        <div class="col-md-12 p-0">

                          
<section class="m-b-10">
  
    <div class="row">
        <div class="col-sm-6">
            <h6 class="text-dark weight-500 ">Checkbox</h6>
           <div class="checkbox-div">
                    <input  id="c1" type="checkbox">
                    <label for="c1">Checkbox</label>
                </div>
                <div class="checkbox-div">
                    <input id="c2"  type="checkbox" checked>
                    <label  for="c2">Checkbox</label>
                    </div>
                
        </div>
        <div class="col-sm-6">
            <h6 class="text-dark weight-500 ">Disabled Checkbox</h6>
            <div class="checkbox-div">
                    <input id="c3"  type="checkbox" disabled>
                    <label for="c3" >Checkbox</label> </div>
                    <div class="checkbox-div">
                    <input id="c4" type="checkbox" checked disabled>
                    <label for="c4">Checkbox</label>
            </div>
        </div>
    </div>
  
</section>
<section class="m-b-10">
    
    <div class="row">
        <div class="col-sm-6">
            <h6 class="text-dark weight-500 ">Radio</h6>
            <div class="checkbox-div">
                    <input id="r1"   type="radio" name="radio" value="1">
                     <label for="r1">Radio</label>
                 </div>
                 <div class="checkbox-div"> 
                    <input id="r2"  type="radio" name="radio" value="2" checked>
                    <label  for="r2">Radio</label>
        </div>
        </div>
        <div class="col-sm-6">
            <h6 class="text-dark weight-500 ">Disabled Radio</h6>
            <div class="checkbox-div">
                    <input id="r3"   type="radio" name="radiod" value="1" disabled>
                    <label for="r3" >Radio</label>
            </div>
            <div class="checkbox-div"> 
                    <input  id="r4" type="radio" name="radiod" value="2" checked disabled>
                    <label  for="r4" >Radio</label>
                 </div>
        </div>
    </div>
  
</section>
<section class="m-b-10">
   
    <div class="row">
        <div class="col-sm-6">
            <h6 class="text-dark weight-500  ">Switch</h6>
            <div class="checkbox-div">
                    <input id="s1" type="checkbox" class="switch">
                    <label for="s1">Switch</label>
                 </div>
                 <div class="checkbox-div"> 
                    <input id="s2" type="checkbox" class="switch" checked>
                    <label for="s2">Switch</label>
        </div>
        </div>
        <div class="col-sm-6">
            <h6 class="text-dark weight-500  ">Disabled Switch</h6>
            <div class="checkbox-div">
                    <input id="s1d" type="checkbox" class="switch" disabled>
                    <label for="s1d">Switch</label>
                 </div>
                 <div class="checkbox-div"> 
                    <input id="s2d" type="checkbox" class="switch" checked disabled>
                    <label for="s2d">Switch</label>
                 </div>
        </div>
    </div>
  
</section>
 
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="selectedList === 1">


                    <button ngxClipboard (click)='copyToClipboard(htmlContentToCopy, $event)' class="copybutton"
                        [innerHTML]="copytxt"></button>
                    <pre prism language="html" class="language-html">
    <code  #htmlContentToCopy>
     <![CDATA[
     <section class="m-b-10">
  
        <div class="row">
            <div class="col-sm-6">
                <h6 class="text-dark weight-500 ">Checkbox</h6>
               <div class="checkbox-div">
                        <input  id="c1" type="checkbox">
                        <label for="c1">Checkbox</label>
                    </div>
                    <div class="checkbox-div">
                        <input id="c2"  type="checkbox" checked>
                        <label  for="c2">Checkbox</label>
                        </div>
                    
            </div>
            <div class="col-sm-6">
                <h6 class="text-dark weight-500 ">Disabled Checkbox</h6>
                <div class="checkbox-div">
                        <input id="c3"  type="checkbox" disabled>
                        <label for="c3" >Checkbox</label> </div>
                        <div class="checkbox-div">
                        <input id="c4" type="checkbox" checked disabled>
                        <label for="c4">Checkbox</label>
                </div>
            </div>
        </div>
      
    </section>
    <section class="m-b-10">
        
        <div class="row">
            <div class="col-sm-6">
                <h6 class="text-dark weight-500 ">Radio</h6>
                <div class="checkbox-div">
                        <input id="r1"   type="radio" name="radio" value="1">
                         <label for="r1">Radio</label>
                     </div>
                     <div class="checkbox-div"> 
                        <input id="r2"  type="radio" name="radio" value="2" checked>
                        <label  for="r2">Radio</label>
            </div>
            </div>
            <div class="col-sm-6">
                <h6 class="text-dark weight-500 ">Disabled Radio</h6>
                <div class="checkbox-div">
                        <input id="r3"   type="radio" name="radiod" value="1" disabled>
                        <label for="r3" >Radio</label>
                </div>
                <div class="checkbox-div"> 
                        <input  id="r4" type="radio" name="radiod" value="2" checked disabled>
                        <label  for="r4" >Radio</label>
                     </div>
            </div>
        </div>
      
    </section>
    <section class="m-b-10">
       
        <div class="row">
            <div class="col-sm-6">
                <h6 class="text-dark weight-500  ">Switch</h6>
                <div class="checkbox-div">
                        <input id="s1" type="checkbox" class="switch">
                        <label for="s1">Switch</label>
                     </div>
                     <div class="checkbox-div"> 
                        <input id="s2" type="checkbox" class="switch" checked>
                        <label for="s2">Switch</label>
            </div>
            </div>
            <div class="col-sm-6">
                <h6 class="text-dark weight-500  ">Disabled Switch</h6>
                <div class="checkbox-div">
                        <input id="s1d" type="checkbox" class="switch" disabled>
                        <label for="s1d">Switch</label>
                     </div>
                     <div class="checkbox-div"> 
                        <input id="s2d" type="checkbox" class="switch" checked disabled>
                        <label for="s2d">Switch</label>
                     </div>
            </div>
        </div>
      
    </section>
     ]]>
        </code>
        </pre>

                </ng-container>
                <ng-container *ngIf="selectedList === 2">
                    <div class="col-12">
                        <h5> We will add content soon!</h5>
                    </div>
                </ng-container>
            </div>

        </div>
    </div>
</div>