<div class="ngtabs">
    <ul>
        <li id="tab1" *ngFor="let tab of commontablist; index as i; first as isFirst">
            <a (click)="openTabList(i)" [ngClass]="{'active': selectedList === i }" href="javascript:void(0)">
                {{tab}}</a>
        </li>
    </ul>



    <div class="ng-tabcontent">
        <ng-container *ngIf="selectedList === 0">
            <div class="row">
                <div class="col-md-3">
                    <div class="search-container">
                        <input type="search" class="default-search" placeholder="Search">
                        <i class="icon-search-find"> </i>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="search-animation"> 
                    <div class="searchBox">
                        <input class="searchInput" type="text" name="" placeholder="Search">
                        <button class="searchButton">
                            <i class="icon-search-find"> </i>
                        </button>
                    </div>
                </div>
                </div>
                <div class="col-md-3">
                    <fieldset class="field-container">
                        <input type="text" placeholder="Search" class="field" />
                        <div class="icons-container">
                          <div class="icon-search"></div>
                          <div class="icon-close">
                          </div>
                        </div>
                      </fieldset>

                </div>
              
            </div>
           
        </ng-container>
        <ng-container *ngIf="selectedList === 1">
            <button ngxClipboard (click)='copyToClipboard(searchhtmlcopy, $event)' class="copybutton"
                [innerHTML]="copytxt"></button>
            <pre prism language="javascript" class="language-js">
                <code #searchhtmlcopy>
                    <![CDATA[
                   
                    ]]>
                </code>
            </pre>
        </ng-container>
        <ng-container *ngIf="selectedList === 2">
            <h5> We will add content soon!</h5>
        </ng-container>
    </div>
</div>