<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="pc-tab">
    <input checked="checked" id="tab1" type="radio" name="pct" />
    <input id="tab2" type="radio" name="pct" />
    <!-- <input id="tab3" type="radio" name="pct" /> -->
    <div class="row">
        <div class="col-md-12 p-l-0 m-t-10 ">
            <h5 class="m-b-10">Search boxes</h5>
        </div>
    </div>
    <nav>
        <ul>
            <li class="tab1">
                <label for="tab1">Details</label>
            </li>
            <li class="tab2">
                <label for="tab2">Source Code</label>
            </li>
            <!-- <li class="tab3">
            <label for="tab3">Third Tab</label>
          </li> -->
        </ul>
    </nav>
  
  
    <section class="tabsection">
        <div class="tab1">
            <section>
             <input type="text" class="search-bar" placeholder="Search....">
                <a href="#"><i class="fa fa-search search-icon"> </i></a>
            </section>
                 </div>
        <div class="tab2">
         
             
            <div class="row">
              <div class="col-md-12 p-0">
                <h6 class="m-t-20 m-b-0">HTML</h6>
              </div>
            </div>
            
            <div class="html-content m-t-10">
                <pre>
        <![CDATA[
        <section>
            <input type="text" class="search-bar" placeholder="Search....">
               <a href="#"><i class="fa fa-search search-icon"> </i></a>
           </section>
    ]]>

    </pre>
            </div>
        </div>

    </section>

</div>


<div class="pc-tab1 m-t-20">
    <input checked="checked" id="pctab1" type="radio" name="pcpct" />
    <input id="pctab2" type="radio" name="pcpct" />
    <!-- <input id="tab3" type="radio" name="pct" /> -->
    <nav>
        <ul>
            <li class="pctab1">
                <label for="pctab1"> Details</label>
            </li>
            <li class="pctab2">
                <label for="pctab2">Source Code</label>
            </li>
            <!-- <li class="tab3">
            <label for="tab3">Third Tab</label>
          </li> -->
        </ul>
    </nav>
    <section class="tabsection">
        <div class="pctab1">
           <!-- <section>
            <div class="search1">
                <input type="text" class="searchTerm" placeholder="Search...">
                <button type="submit" class="searchButton">
                  <i class="fa fa-search"></i>
               </button>
             </div>
              </section> -->
             <section>
                 
                        <div  class="search">
                            <input class="form-control to-close-search" placeholder="Enter Keyword to Search..." />
                            <button type="button" class="btn btn-link search-clear"><i class="icon icon-close-round"></i></button>
               
                    
                 </div>
                    
             </section>
             </div>
        <div class="pctab2">
          
          <div class="row">
            <div class="col-md-12">
              <h6 class="">HTML</h6>
            </div>
          </div>
            <div class="html-content">
                <pre>

        <![CDATA[
      
        <section>
            <div  class="search">
                <input class="form-control to-close-search" placeholder="Enter Keyword to Search..." />
                <button type="button" class="btn btn-link search-clear"><i class="icon icon-close-round"></i></button>
   
        </div>
              </section>
    ]]> 

    </pre>
            </div>
        </div>

    </section>
</div>

 