<p>alerts works!</p>



<div class="pc-tab">
    <input checked="checked" id="tab1" type="radio" name="pct" />
    <input id="tab2" type="radio" name="pct" />
    <!-- <input id="tab3" type="radio" name="pct" /> -->
      <nav>
        <ul>
          <li class="tab1">
            <label for="tab1">Details</label>
          </li>
          <li class="tab2">
            <label for="tab2">Source Code</label>
          </li>
          <!-- <li class="tab3">
            <label for="tab3">Third Tab</label>
          </li> -->
        </ul>
      </nav>
      <section>
        <div class="tab1">
          <h5>Details</h5>
          <p>Will Display Details Here...</p>
        </div>
        <div class="tab2">
          <h5>Source Code</h5>
         
<div class="html-content">
    <pre>
        <![CDATA[
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
        </head>
        <body>
            
        </body>
        </html>
        ]]>
    </pre>
    </div>
        </div>
        <!-- <div class="tab3">
          <h2>Third</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, nobis culpa rem, vitae earum aliquid.</p>
        </div> -->
      </section>
    </div>