<div class="ngtabs">
    <ul>
        <li id="tab1" *ngFor="let tab of commontablist; index as i; first as isFirst">
          <a (click)="openTabList(i)" [ngClass]="{'active': selectedList === i }" href="javascript:void(0)">
            {{tab}}</a>
        </li>
      </ul>

      <div class="ng-tabcontent">
        <ng-container *ngIf="selectedList === 0">  
            <p>tables works!</p>
        </ng-container>
        <ng-container *ngIf="selectedList === 1"> 
            <button ngxClipboard (click)='copyToClipboard(tabshtmlcopy, $event)' class="copybutton"
            [innerHTML]="copytxt"></button>
            <pre prism language="javascript" class="language-js">
                <code #tabshtmlcopy>
                    <![CDATA[
                   
                    ]]>
                </code>
            </pre>
        </ng-container>
        <ng-container *ngIf="selectedList === 2">  
            <h5> We will add content soon!</h5></ng-container>
      </div>
</div>
    
















