<div class="sidebar" >
<!--Foundations Sidebar -->
<div *ngIf="hasRoute('foundations')">
  
        <h5 class="m-l-10 m-b-10">Foundations</h5>
        <input type="text" class="control-search" placeholder="Search">
        <ul id="dynamic-tabs">
            <li id="colors"><a data-toggle="tab" role="tab" (click)="loadTabComponent('colors')" >Colors</a></li>
            <li id="icons"><a data-toggle="tab" role="tab" (click)="loadTabComponent('icons')" >Icons</a></li>
            <li id="primitives"><a data-toggle="tab" role="tab" (click)="loadTabComponent('primitives')">Layout Primitives</a></li>
            <li id="typography"><a data-toggle="tab" role="tab" (click)="loadTabComponent('typography')">Typography</a></li>
        </ul>
    

</div>

<!--UIcomponents Sidebar -->
<div *ngIf="hasRoute('uicomponents')" >
   
        <h5 class="m-l-10 m-b-10">UI Components</h5>
        <input type="text" class="control-search" (keyup)="SearchFunction()" placeholder="Search" id="searchInput" >
        <ul id="dynamic-tabs">
            <li id="alerts" ><a data-toggle="tab" role="tab" (click)="loadTabComponent('alerts')">Alerts</a></li>
            <li id="buttons"><a data-toggle="tab" role="tab" (click)="loadTabComponent('buttons')" >Buttons</a></li>
            <li id="checkboxs"><a data-toggle="tab" role="tab" (click)="loadTabComponent('checkboxs')" >Checkboxs</a></li>
            <li id="forms"><a data-toggle="tab" role="tab" (click)="loadTabComponent('forms')" >Forms</a></li>
            <li id="modals"><a data-toggle="tab" role="tab" (click)="loadTabComponent('modals')">Modals</a></li>
            <li id="navigations"><a data-toggle="tab" role="tab" (click)="loadTabComponent('navigations')">Navigations</a></li>
            <li id="tabs"><a data-toggle="tab" role="tab" (click)="loadTabComponent('tabs')">Tabs</a></li>
            <li id="tooltips"><a data-toggle="tab" role="tab" (click)="loadTabComponent('tooltips')">Tooltips</a></li>
            <li id="typography"><a data-toggle="tab" role="tab" (click)="loadTabComponent('typography')">Typography</a></li>
        </ul>
    
 
</div>

<!--Patterns Sidebar -->
<div *ngIf="hasRoute('patterns')">
 
        <h5 class="m-l-10 m-b-10">Patterns</h5>
        <input type="text" class="control-search" placeholder="Search">
        <ul>
            <li id="colors"><a data-toggle="tab" role="tab" (click)="loadTabComponent('colors')" href="/colors">Colors</a></li>
            <li id="typography"><a data-toggle="tab" role="tab" (click)="loadTabComponent('typography')" href="/buttons">Buttons</a></li>
            <li id="typography"><a data-toggle="tab" role="tab" (click)="loadTabComponent('typography')" href="/navigation">Navigation</a></li>
            <li id="typography"><a data-toggle="tab" role="tab" (click)="loadTabComponent('typography')" href="/typography">Typography</a></li>
        </ul>
    
     
</div>

<!--Resources Sidebar -->
<div *ngIf="hasRoute('resources')">
   
        <h5 class="m-l-10 m-b-10">Resources</h5>
        <input type="text" class="control-search" placeholder="Search">
        <ul>
            <li><a href="/colors">Colors</a></li>
            <li><a href="/buttons">Buttons</a></li>
            <li><a href="/navigation">Navigation</a></li>
            <li><a href="/typography">Typography</a></li>
        </ul>
 
</div>
</div>
<!-- Second view activated when the route doesn't contain the home route -->
<!-- <div *ngIf="!hasRoute('home')">
    Second View
</div> -->


<div class="tab-content">
    <ng-template active-tab></ng-template>
</div>