<div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
        <h2 class="m-b-10 display-b">Kendo Date picker</h2>
        <p class="m-b-30"> </p>
    </div>
</div>
<div class="ngtabs">
    <ul>
        <li id="tab1" *ngFor="let tab of commontablist; index as i; first as isFirst">
            <a (click)="openTabList(i)" [ngClass]="{'active': selectedList === i }" href="javascript:void(0)">
                {{tab}}</a>
        </li>
    </ul>
</div>

<div class="ng-tabcontent">
    <ng-container *ngIf="selectedList === 0">
        <div class="row">
            <div class="col-md-4">
                <p>Date picker</p>
                <kendo-datepicker [(value)]="value"></kendo-datepicker>
            </div>
            <div class="col-md-4">
                <p><b>DateInput</b></p>
                <kendo-dateinput [value]="value"></kendo-dateinput>
            </div>
            <div class="col-md-4">
                <p><b>TimePicker</b></p>
                <kendo-timepicker [value]="value"></kendo-timepicker>
                <p>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-4">
                <p><b>DateTimePicker</b></p>
                <kendo-datetimepicker [value]="value"> </kendo-datetimepicker>
            </div>
            <div class="col-md-5">
                <kendo-daterange>
                    <kendo-floatinglabel text="Start">
                        <kendo-dateinput kendoDateRangeStartInput [(value)]="range.start"></kendo-dateinput>
                    </kendo-floatinglabel>
                    <kendo-floatinglabel text="End" style="margin-left: 10px;">
                        <kendo-dateinput kendoDateRangeEndInput [(value)]="range.end"></kendo-dateinput>
                    </kendo-floatinglabel>
                </kendo-daterange>
                <p>
            </div>
           
        </div> <br>
        <div class="row">
            <div class="col-md-4"> 
                <p>Classic Calendar</p>
                <kendo-calendar type="classic"></kendo-calendar>
            </div>
            <div class="col-md-4">
                <p>Calendar Disabled</p>
                <kendo-calendar [disabled]="true"></kendo-calendar>
            </div>
        </div>
        
    </ng-container>
    <ng-container *ngIf="selectedList === 1">
        <button ngxClipboard (click)='copyToClipboard(kendodatepickerhtml, $event)' class="copybutton"
            [innerHTML]="copytxt"></button>
        <pre prism language="html" class="language-html">
                    <code #kendodatepickerhtml>
                        // HTML
                        <![CDATA[
                        Date picker
                        <kendo-datepicker [(value)]="value"></kendo-datepicker>

                        DateInput
                        <kendo-dateinput [value]="value"></kendo-dateinput>

                        TimePicker
                        <kendo-timepicker [value]="value"></kendo-timepicker>

                        DateTimePicker
                        <kendo-datetimepicker [value]="value"> </kendo-datetimepicker>

                        Start & End
                        <kendo-daterange>
                            <kendo-floatinglabel text="Start">
                                <kendo-dateinput kendoDateRangeStartInput [(value)]="range.start"></kendo-dateinput>
                            </kendo-floatinglabel>
                            <kendo-floatinglabel text="End" style="margin-left: 10px;">
                                <kendo-dateinput kendoDateRangeEndInput [(value)]="range.end"></kendo-dateinput>
                            </kendo-floatinglabel>
                        </kendo-daterange>

                        Classic Calendar
                        <kendo-calendar type="classic"></kendo-calendar>

                        Calendar Disabled
                        <kendo-calendar [disabled]="true"></kendo-calendar>
                        ]]>
                    </code>
                </pre>
        <button ngxClipboard (click)='copyToClipboard(kendodatepickerts, $event)' class="copybutton"
            [innerHTML]="copytxt"></button>
        <pre prism language="javascript" class="language-js">
                <code #kendodatepickerts>
                    // kendodatepicker.ts
                    <![CDATA[
                    public value: Date = new Date(2000, 2, 10);
                    ]]>
                </code>
            </pre>

        <button ngxClipboard (click)='copyToClipboard(appmouledatepicker, $event)' class="copybutton"
            [innerHTML]="copytxt"></button>
        <pre prism language="javascript" class="language-js">
                <code #appmouledatepicker>
                    // app.module.ts
                    <![CDATA[
                    import { DateInputsModule } from '@progress/kendo-angular-dateinputs';

                    @NgModule({
                        imports: [
                        DateInputsModule,
                        ]
                    )}
                    
                    ]]>
                </code>
            </pre>
    </ng-container>
    <ng-container *ngIf="selectedList === 2">
        <h5> We will add content soon!</h5>
    </ng-container>
</div>