<div class="container">
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
            <h2 class="m-b-10 display-b">Badges</h2>
            <p class="m-b-30">small overlapped UI item which indicates a status, notification, or event that appears in relativity with the underlying object.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="ngtabs">
                <ul>
                    <li id="tab1" *ngFor="let tab of commontablist; index as i; first as isFirst">
                        <a (click)="openTabList(i)" [ngClass]="{'active': selectedList === i }"
                            href="javascript:void(0)"> {{tab}} </a>
                    </li>
                </ul>
            </div>
            <div class="ng-tabcontent">
                <ng-container *ngIf="selectedList === 0">
                    

    <div class="row">
        <div class="col-md-12 p-0">
            <h5 class="m-t-20 m-b-0 display-b">Badges</h5>
            <section>
                    <span class="badge-label badge-success m-r-10">Success</span>
                    <span class="badge-label badge-danger m-r-10">New Entry</span>
                    <span class="badge-label badge-warning m-r-10">Screening</span>
                    <span class="badge-label badge-secondary text-white m-r-10">Cleared</span>
                    <span class="badge-label badge-info m-r-10">Placed</span>
                    <span class="badge-label badge-semiwhite m-r-10">Inactive</span>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 p-0">
            <h5 class="m-t-20 m-b-0 display-b">Badges Semi Rounded</h5>
            <section>
                    <span class="badge-label semirounded badge-success m-r-10">Success</span>
                    <span class="badge-label semirounded badge-danger m-r-10">New Entry</span>
                    <span class="badge-label semirounded badge-warning m-r-10">Screening</span>
                    <span class="badge-label semirounded badge-secondary text-white m-r-10">Cleared</span>
                    <span class="badge-label semirounded badge-info m-r-10">Placed</span>
                    <span class="badge-label semirounded badge-semiwhite m-r-10">Inactive</span>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 p-0">
            <h5 class="m-t-20 m-b-0 display-b">Badges Rounded</h5>
            <section>
                    <span class="badge-label rounded badge-success m-r-10">Success</span>
                    <span class="badge-label rounded badge-danger m-r-10">New Entry</span>
                    <span class="badge-label rounded badge-warning m-r-10">Screening</span>
                    <span class="badge-label rounded badge-secondary text-white m-r-10">Cleared</span>
                    <span class="badge-label rounded badge-info m-r-10">Placed</span>
                    <span class="badge-label rounded badge-semiwhite m-r-10">Inactive</span>
            </section>
        </div>
    </div>
                </ng-container>
                <ng-container *ngIf="selectedList === 1">
                    <button ngxClipboard (click)='copyToClipboard(htmlContentToCopy, $event)' class="copybutton" [innerHTML]="copytxt"></button>
                    <pre prism language="html" class="language-html">
                       <code  #htmlContentToCopy>
                        <![CDATA[
                        <span class="badge-label rounded badge-success m-r-10">Success</span>
                        <span class="badge-label rounded badge-danger m-r-10">New Entry</span>
                        <span class="badge-label rounded badge-warning m-r-10">Screening</span>
                        <span class="badge-label rounded badge-secondary text-white m-r-10">Cleared</span>
                        <span class="badge-label rounded badge-info m-r-10">Placed</span>
                        <span class="badge-label rounded badge-semiwhite m-r-10">Inactive</span> 
                        ]]>
                           </code>
                           </pre>
                
                                </ng-container>
                                <ng-container *ngIf="selectedList === 2">
                                    <div class="col-12 p-30">
                                        <h5> We will add content soon!</h5>
                                    </div>
                                </ng-container>
        </div>
    </div>
    </div>

