 <div class="sidebar">
    <h5 class="m-l-10 m-b-10">UI Components</h5>
    <input type="text" class="control-search" placeholder="Search">
    <ul>
        <li><a href="/colors">Colors</a></li>
        <li><a href="/buttons">Buttons</a></li>
        <li><a href="/navigation">Navigation</a></li>
        <li><a href="/typography">Typography</a></li>
    </ul>

</div>
<!-- 
<app-dynamic-content type="sample1">

</app-dynamic-content>
<app-dynamic-content type="sample2"></app-dynamic-content>
<app-dynamic-content type="some-other-type"></app-dynamic-content> -->