<div class="container">
<div class="row">
  <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
      <h2 class="m-b-10 display-b">Accordions</h2>
      <p class="m-b-30">Accordions conserve space on mobile but they can also cause disorientation and too much scrolling. Easy design fixes improve the usability of these UI elements.</p>
  </div>
</div>
 <div class="ngtabs">

  <ul>
    <li id="tab1" *ngFor="let tab of commontablist; index as i; first as isFirst"> 
       <a (click)="openTabList(i)" [ngClass]="{'active': selectedList === i }"
            href="javascript:void(0)"> {{tab}}</a>
    </li>
</ul>
<div class="ng-tabcontent">
  <ng-container *ngIf="selectedList === 0">
      <h6>Example One</h6>

      <section>
           
        <button class="accordion" (click)="accordionTabs(i);">Section 1</button>
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <button class="accordion" (click)="accordionTabs(i);">Section 2</button>
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <button class="accordion" (click)="accordionTabs(i);">Section 3</button>
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </section>
    <br/>
    <h6>Example Two</h6>
    <section>
      <div class="tabs p-t-0">
                <div class="tab">
                  <input type="checkbox" id="chck1" class="hiddentab-check">
                  <label class="tab-label" for="chck1">Item 1</label>
                  <div class="tab-content">
                      <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                  </p>
                  </div>
                </div>
                <div class="tab">
                  <input type="checkbox" id="chck2" class="hiddentab-check">
                  <label class="tab-label" for="chck2">Item 2</label>
                  <div class="tab-content">
                      <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!</p>
                  </div>
                </div>
              </div>
           
    </section>
  </ng-container>
  <ng-container *ngIf="selectedList === 1">
    

    <button ngxClipboard (click)='copyToClipboard(htmlContentToCopy, $event)'  class="copybutton" [innerHTML]="copytxt"></button>
    <pre prism language="html" class="language-html" >
      <code #htmlContentToCopy>
      &lt;script&gt;
      <![CDATA[
      //HTML
      <h6>Example One</h6>
      <section>
         <button class="accordion" (click)="accordionTabs(i);">Section 1</button>
          <div class="panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <button class="accordion" (click)="accordionTabs(i);">Section 2</button>
          <div class="panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <button class="accordion" (click)="accordionTabs(i);">Section 3</button>
          <div class="panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </section>

        <h6>Example Two</h6>
        <section>
            <div class="tabs">
              <div class="tab">
                <input type="checkbox" id="chck1" class="hiddentab-check">
                <label class="tab-label" for="chck1">Item 1</label>
                <div class="tab-content">
                    <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </p>
                </div>
              </div>
              <div class="tab">
                <input type="checkbox" id="chck2" class="hiddentab-check">
                <label class="tab-label" for="chck2">Item 2</label>
                <div class="tab-content">
                    <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!</p>
                </div>
              </div>
            </div>
               
        </section>
      ]]>
      &lt;/script&gt;
      </code>
              </pre>


    <button ngxClipboard (click)='copyToClipboard(typescriptContentToCopy, $event)'  class="copybutton" [innerHTML]="copytxt"></button>
    <pre prism language="javascript" class="language-js" >
      <code #typescriptContentToCopy>
      &lt;script&gt;
      <![CDATA[
      //Javascript
          var acc = document.getElementsByClassName("accordion");
          var i;
          
          for (i = 0; i <acc.length; i++) {
            acc[i].addEventListener("click", function() {
             
              this.classList.toggle("active");
              var panel = this.nextElementSibling;
              alert(panel.style.maxHeight);
              if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
              } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
              } 
            });
          }
      ]]>
      &lt;/script&gt;
      </code>
              </pre>
</ng-container>
<ng-container *ngIf="selectedList === 2">
  <h5> We will add content soon!</h5>
</ng-container>
  </div>
 </div>

 </div>