<div class="container">
  <div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
      <h2 class="m-b-10 display-b">Kendo Multiselect</h2>
      <p class="m-b-30"> Kendo Multiselect conserve space on mobile but they can also cause disorientation and too much
        scrolling. Easy design fixes improve the usability of these UI elements.</p>
    </div>
  </div>

  <div class="ngtabs">
    <ul>
      <li id="tab1" *ngFor="let tab of commontablist; index as i; first as isFirst">
        <a (click)="openTabList(i)" [ngClass]="{'active': selectedList === i }" href="javascript:void(0)"> {{tab}}</a>
      </li>
    </ul>
  </div>

  <div class="ng-tabcontent">
    <ng-container *ngIf="selectedList === 0">
      <div class="row">
        <div class="col-4">
          <kendo-multiselect [data]="listItems" textField="text" valueField="value" [(ngModel)]="selectedItems">
          </kendo-multiselect>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selectedList === 1">




      <button ngxClipboard (click)='copyToClipboard(kmshtml, $event)' class="copybutton" [innerHTML]="copytxt"></button>
      <pre prism language="html" class="language-html">
          <code #kmshtml>
            <![CDATA[
    // HTML
        
    <kendo-multiselect [data]="listItems" textField="text" valueField="value" [(ngModel)]="selectedItems">
    </kendo-multiselect>
    
        ]]>
          </code>
        </pre>

      <button ngxClipboard (click)='copyToClipboard(componentts, $event)' class="copybutton"
        [innerHTML]="copytxt"></button>
      <pre prism language="javascript" class="language-js">

          <code #componentts>
            <![CDATA[
    // Kendo MultiSelect Component ts
            
    public listItems: Array<Item> = [{ text: "Small", value: 1 }, { text: "Medium", value: 2 }, { text: "Large", value: 3 },];
    public selectedItems: Item[] = [this.listItems[1]];
    ]]>
          </code>
        </pre>

    </ng-container>

    <ng-container *ngIf="selectedList === 2">
      How to Use
    </ng-container>

  </div>


</div>