

<header>
    <div class="container">
        <div class="logospace">
        <img title="Logo" src="./assets/logo.png" class="logo">
    </div>
  
    <nav>
        <ul>
            <li><a routerLink="/foundations" 
                routerLinkActive="active">Foundations</a></li>
            <li><a routerLink="/uicomponents" 
                routerLinkActive="active">UI Components</a></li>
            <li><a routerLink="/patterns" 
                routerLinkActive="active">Patterns</a></li>
            <li><a routerLink="/resources" 
                routerLinkActive="active">Resources</a></li>
        </ul>
    </nav>
</div>
</header>

