

<header>
    <div class="maincontainer">
        <div class="logospace">
        <img title="Logo" src="./assets/logo.png" class="logo">
    </div>
  
    <nav>
        <ul>
            <li><a routerLink="/foundations" 
                routerLinkActive="active">Foundations</a></li>
            <li class="dropdown dropdown-2 main-dropdown"><a routerLink="/components" 
                routerLinkActive="active">UI Components</a>
                <ul class="dropdown_menu dropdown_menu-2 theming-options">
                    <li class="dropdown_item-1" routerLink="/components/uicomponents" 
                    routerLinkActive="active">HTML </li>
                    <li class="dropdown_item-2" routerLink="/components/kendocomponents" 
                    routerLinkActive="active">Kendo </li>
                    <li class="dropdown_item-3"  routerLink="/components/primecomponents/" routerLinkActive="activetab">Prime NG </li>
                    <li class="dropdown_item-4" routerLink="/components/angularcomponents/" routerLinkActive="activetab">Angular </li>
                    
                  
                      <!-- <li class="dropdown_item-5">Item 5</li> -->
                  </ul>
            </li>
            <li><a routerLink="/patterns" 
                routerLinkActive="active">Patterns</a></li>
            <li><a routerLink="/resources" 
                routerLinkActive="active">Resources</a></li>
                <!-- <li><a routerLink="/kendocomponents" 
                    routerLinkActive="active">Kendo Components</a></li> -->
        </ul>
    </nav>
    

    <ul class="menu">
    
       <li class="dropdown dropdown-2">
      <i class="icon-cog"></i>
        <ul class="dropdown_menu dropdown_menu-2 theming-options">
          <li class="dropdown_item-1"><div data-theme="light" (click)="setTheme('light')" class="switch" id="switch-1">Default</div> </li>
          <li class="dropdown_item-2"><div data-theme="green" (click)="setTheme('green')" class="switch" id="switch-2">Green</div> </li>
          <li class="dropdown_item-3"><div data-theme="blue" (click)="setTheme('blue')" class="switch" id="switch-3">Blue</div> </li>
          <li class="dropdown_item-4"><div data-theme="dark" (click)="setTheme('dark')" class="switch" id="switch-4">Dark</div> </li>
            <!-- <li class="dropdown_item-5">Item 5</li> -->
        </ul>
      </li>
    
      
    </ul>

    <!-- <div class="theming-options">
        <span></span>
        <div data-theme="light" (click)="setTheme('light')" class="switch" id="switch-1"></div>

        <div data-theme="green" (click)="setTheme('green')" class="switch" id="switch-2"></div>

        <div data-theme="blue" (click)="setTheme('blue')" class="switch" id="switch-3"></div>

        <div data-theme="dark" (click)="setTheme('dark')" class="switch" id="switch-4"></div>
    </div> -->
</div>
</header>

