 <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

 
 <div class="ngtabs">

  <ul>

      <li id="tab1" *ngFor="let tab of commontablist; index as i; first as isFirst">

          <a (click)="openTabList(i)" [ngClass]="{'active': selectedList === i }" href="javascript:void(0)">

              {{tab}}</a>

      </li>

  </ul>
<div class="ng-tabcontent">

  <ng-container *ngIf="selectedList === 0"> 0 </ng-container>

<ng-container *ngIf="selectedList === 1">  
  <button ngxClipboard (click)='copyToClipboard(filecopy, $event)' class="copybutton" [innerHTML]="copytxt"></button>
  <pre prism language="html" class="language-html">  

    <code #filecopy>
    
    <![CDATA[
    
    //HTML
    
    
     ]]>
    
    </code>
    
    </pre>
   </ng-container>
<ng-container *ngIf="selectedList === 2"> <h5> We will add content soon!</h5> </ng-container>

</div>
</div>

 

            
<script>
    $("form").on("change", ".file-upload-field", function(){ 
    $(this).parent(".file-upload-wrapper").attr("data-text",         $(this).val().replace(/.*(\/|\\)/, '') );
});
</script>
<script>
    function readURL(input) {
  if (input.files && input.files[0]) {

    var reader = new FileReader();

    reader.onload = function(e) {
      $('.image-upload-wrap').hide();

      $('.file-upload-image').attr('src', e.target.result);
      $('.file-upload-content').show();

      $('.image-title').html(input.files[0].name);
    };

    reader.readAsDataURL(input.files[0]);

  } else {
    removeUpload();
  }
}

function removeUpload() {
  $('.file-upload-input').replaceWith($('.file-upload-input').clone());
  $('.file-upload-content').hide();
  $('.image-upload-wrap').show();
}
$('.image-upload-wrap').bind('dragover', function () {
    $('.image-upload-wrap').addClass('image-dropping');
  });
  $('.image-upload-wrap').bind('dragleave', function () {
    $('.image-upload-wrap').removeClass('image-dropping');
});
</script>
            