


<app-header></app-header>


<!-- <app-content></app-content> -->



<div class="sidebar" >
<!--Foundations Sidebar -->
<div *ngIf="hasRoute('foundations')">
  
        <h5 class="m-l-10 m-b-10">Foundations</h5>
        <input type="text" class="control-search" placeholder="Search">
        <ul id="dynamic-tabs">
            <li id="colors" routerLink="foundations/Colors"  routerLinkActive="activetab"><a data-toggle="tab" role="tab" (click)="loadTabComponent('colors')" >Colors</a></li>
            <li id="icons" routerLink="foundations/Icons" routerLinkActive="activetab"><a data-toggle="tab" role="tab" (click)="loadTabComponent('icons')" >Icons</a></li>
            <li id="primitives" routerLink="foundations/Primitives" routerLinkActive="activetab"><a data-toggle="tab" role="tab" (click)="loadTabComponent('primitives')">Layout Primitives</a></li>
            <li id="typography" routerLink="foundations/Typography" routerLinkActive="activetab"><a data-toggle="tab" role="tab" (click)="loadTabComponent('typography')">Typography</a></li>
        </ul>
    

</div>

<!--UIcomponents Sidebar -->
<div *ngIf="hasRoute('uicomponents')" >
   
        <h5 class="m-l-10 m-b-10">UI Components</h5>
        <input type="text" class="control-search" (keyup)="SearchFunction()" placeholder="Search" id="searchInput" >
        <ul id="dynamic-tabs">
            <li id="alerts"   routerLink="uicomponents/Alerts" routerLinkActive="activetab"><a data-toggle="tab" role="tab">Alerts</a></li>
            <li id="buttons"  routerLink="uicomponents/Buttons" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Buttons</a></li>
            <li id="checkboxs"  routerLink="uicomponents/CheckBox" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Checkboxs</a></li>
            <li id="forms"  routerLink="uicomponents/Forms" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Forms</a></li>
            <li id="modals" routerLink="uicomponents/Modals" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Modals</a></li>
            <li id="navigations"  routerLink="uicomponents/Navigation" routerLinkActive="activetab"><a data-toggle="tab" role="tab">Navigations</a></li>
            <li id="tabs" routerLink="uicomponents/Tabs" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Tabs</a></li>
            <li id="tooltips"  routerLink="uicomponents/Tooltip" routerLinkActive="activetab"><a data-toggle="tab" role="tab">Tooltips</a></li>
            <li id="typography" routerLink="uicomponents/Typography" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Typography</a></li>
        </ul>
    
 
</div>

<!--Patterns Sidebar -->
<div *ngIf="hasRoute('patterns')">
 
        <h5 class="m-l-10 m-b-10">Patterns</h5>
        <input type="text" class="control-search" placeholder="Search">
        <ul>
            <li id="colors"><a data-toggle="tab" role="tab" (click)="loadTabComponent('colors')">Colors</a></li>
            <li id="typography"><a data-toggle="tab" role="tab" (click)="loadTabComponent('typography')">Buttons</a></li>
            <li id="typography"><a data-toggle="tab" role="tab" (click)="loadTabComponent('typography')">Navigation</a></li>
            <li id="typography"><a data-toggle="tab" role="tab" (click)="loadTabComponent('typography')">Typography</a></li>
        </ul>
    
     
</div>

<!--Resources Sidebar -->
<div *ngIf="hasRoute('resources')">
   
        <h5 class="m-l-10 m-b-10">Resources</h5>
        <input type="text" class="control-search" placeholder="Search">
        <ul>
            <li><a href="/colors">Colors</a></li>
            <li><a href="/buttons">Buttons</a></li>
            <li><a href="/navigation">Navigation</a></li>
            <li><a href="/typography">Typography</a></li>
        </ul>
 
</div>
</div>
<!-- Second view activated when the route doesn't contain the home route -->
<!-- <div *ngIf="!hasRoute('home')">
    Second View
</div> -->


<div class="tab-content">
    <!-- <ng-template active-tab></ng-template> -->

    <router-outlet></router-outlet>
</div>
