.sidebar{
    width:16%;
    height: 100vh;
    float: left;
    border-right:1px solid #eaeaea;
    padding: 10px;
    background: #fafafa;
    overflow-y: auto;
    ul{
        list-style-type: none;
        margin:0;
        padding: 0;
        float: left;
        width: 100%;
        li{
           border-radius: 6px;
            padding: 6px 10px;
            a{
                text-decoration: none;
                color: #777;
                font-size: 13px;
                font-weight: 400;
                &:hover{
                    color:#000;
                }
            }
            &:hover{
                cursor: pointer; background: #eaeaea;
            }
            &.activetab{
                background: #EBF0FF;
                a{
                    font-weight: 500;
                    color:#3366FF;
                }
            }   
        }
    }
}
.control-search{
    float: left;
    width:90%;
    margin: 0 10px 10px;
    border: 1px solid #eaeaea;
    height: 26px;
    padding: 5px;
    border-radius: 3px;
    font-size: 13px;
}
.tab-content{
    width:calc(100% - 20%);
    float: left;
    padding: 10px;
    height: calc(100vh - 54px);
    max-height: 100vh;
}
.html-content{
    background: #666;
    color: #fff;
    float: left;
    width: 100%;
    padding: 10px;
    font-size: 13px;;
}