
<app-header></app-header>
 
<!-- <app-content></app-content> -->

<div class="sidebar" >
<!--Foundations Sidebar -->
<div *ngIf="hasRoute('foundations')">
  
        <h5 class="m-l-10 m-b-10">Foundations</h5>
        <input type="text" (keyup)="SearchFunction()" class="control-search" placeholder="Search" id="searchInput">
        <ul id="dynamic-tabs">
            <li id="colors" routerLink="foundations/Colors"  routerLinkActive="activetab"><a data-toggle="tab" role="tab" (click)="loadTabComponent('colors')" >Colors</a></li>
            <li id="icons" routerLink="foundations/Icons" routerLinkActive="activetab"><a data-toggle="tab" role="tab" (click)="loadTabComponent('icons')" >Icons</a></li>
            <li id="primitives" routerLink="foundations/Primitives" routerLinkActive="activetab"><a data-toggle="tab" role="tab" (click)="loadTabComponent('primitives')">Layout Primitives</a></li>
            <li id="typography" routerLink="foundations/Typography" routerLinkActive="activetab"><a data-toggle="tab" role="tab" (click)="loadTabComponent('typography')">Typography</a></li>
        </ul>
    

</div>
<!--Components Sidebar -->
<div *ngIf="hasRoute('components') && !hasRoute('uicomponents') && !hasRoute('kendocomponents') && !hasRoute('angularcomponents')" >
   
    <h5 class="m-l-10 m-b-10">Components</h5>
    <input type="text" class="control-search" (keyup)="SearchFunction()" placeholder="Search" id="searchInput" >
    <ul id="dynamic-tabs">
        <li ><a href="components/uicomponents/" routerLinkActive="activetab" data-toggle="tab" role="tab">HTML</a></li>
        <li ><a href="components/kendocomponents/" routerLinkActive="activetab" data-toggle="tab" role="tab" >Kendo</a></li>
        <li ><a href="components/primecomponents/" routerLinkActive="activetab" data-toggle="tab" role="tab" >Prime NG</a></li>
        <li ><a href="components/angularcomponents/" routerLinkActive="activetab" data-toggle="tab" role="tab" >Angular</a></li>
     
    </ul>


</div>
<!--UIcomponents Sidebar -->
<div *ngIf="hasRoute('components/uicomponents')" >
   
        <h5 class="m-l-10 m-b-10">UI Components</h5>
        <input type="text" class="control-search" (keyup)="SearchFunction()" placeholder="Search" id="searchInput" >
        <ul id="dynamic-tabs">
            <li id="accordions" routerLink="components/uicomponents/Accordions" routerLinkActive="activetab"><a data-toggle="tab" role="tab">Accordions</a></li>
            <li id="alerts" routerLink="components/uicomponents/Alerts" routerLinkActive="activetab"><a data-toggle="tab" role="tab">Alerts</a></li>
            <li id="badges"  routerLink="components/uicomponents/Badges" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Badges</a></li>
            <li id="Breadcrumbs"  routerLink="components/uicomponents/Breadcrumbs" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Breadcrumbs</a></li>
            <li id="buttons"  routerLink="components/uicomponents/Buttons" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Buttons</a></li>
            <li id="checkboxs"  routerLink="components/uicomponents/CheckBox" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Checkboxs</a></li>
            <li id="columns"  routerLink="components/uicomponents/Columns" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Columns</a></li>
            <li id="datepicker"  routerLink="components/uicomponents/Datepickers" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Datepicker</a></li>
            <li id="dropdowns"  routerLink="components/uicomponents/Dropdowns" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Dropdowns</a></li>
            <li id="forms"  routerLink="components/uicomponents/Forms" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Forms</a></li>
            <li id="headers"  routerLink="components/uicomponents/Headers" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Headers</a></li>
            <li id="modals" routerLink="components/uicomponents/Modals" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Modals</a></li>
            <li id="multiselect" routerLink="components/uicomponents/Multiselect" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Multiselect</a></li>
            <li id="navigations"  routerLink="components/uicomponents/Navigation" routerLinkActive="activetab"><a data-toggle="tab" role="tab">Navigations</a></li>
            <li id="notificationlist"  routerLink="components/uicomponents/NotificationList" routerLinkActive="activetab"><a data-toggle="tab" role="tab">Notification List</a></li>
            <li id="notifications"  routerLink="components/uicomponents/Notifications" routerLinkActive="activetab"><a data-toggle="tab" role="tab">Notifications</a></li>
            <li id="progressbar"  routerLink="components/uicomponents/Progressbar" routerLinkActive="activetab"><a data-toggle="tab" role="tab">Progressbar</a></li>
            <li id="radiobuttons"  routerLink="components/uicomponents/Radiobuttons" routerLinkActive="activetab"><a data-toggle="tab" role="tab">Radio Buttons</a></li>
            <li id="searchbox"  routerLink="components/uicomponents/Searchbox" routerLinkActive="activetab"><a data-toggle="tab" role="tab">Search Box</a></li>
            <li id="sweetalerts"  routerLink="components/uicomponents/Sweetalerts" routerLinkActive="activetab"><a data-toggle="tab" role="tab">Sweet Alerts</a></li>
            <li id="tables" routerLink="components/uicomponents/Tables" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Tables</a></li>
            <li id="tabs" routerLink="components/uicomponents/Tabs" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Tabs</a></li>
            <li id="toasts" routerLink="components/uicomponents/Toasts" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Toasts</a></li>
            <li id="toggles" routerLink="components/uicomponents/Toggles" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Toggles</a></li>
            <li id="tooltips"  routerLink="components/uicomponents/Tooltip" routerLinkActive="activetab"><a data-toggle="tab" role="tab">Tooltips</a></li>
            <li id="validations" routerLink="components/uicomponents/Validations" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Validations</a></li>
            <li id="wizard" routerLink="components/uicomponents/Wizard" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Wizard</a></li>
        </ul>
    
 
</div>

<!--Patterns Sidebar -->
<div *ngIf="hasRoute('patterns')">
 
        <h5 class="m-l-10 m-b-10">Patterns</h5>
        <input type="text" (keyup)="SearchFunction()" class="control-search" placeholder="Search" id="searchInput">
        <ul>
            <li id="colors"><a data-toggle="tab" role="tab" (click)="loadTabComponent('colors')">Colors</a></li>
            <li id="typography"><a data-toggle="tab" role="tab" (click)="loadTabComponent('typography')">Buttons</a></li>
            <li id="typography"><a data-toggle="tab" role="tab" (click)="loadTabComponent('typography')">Navigation</a></li>
            <li id="typography"><a data-toggle="tab" role="tab" (click)="loadTabComponent('typography')">Typography</a></li>
        </ul>
    
     
</div>

<!--Resources Sidebar -->
<div *ngIf="hasRoute('resources')">
   
        <h5 class="m-l-10 m-b-10">Resources</h5>
        <input type="text" (keyup)="SearchFunction()" class="control-search" placeholder="Search" id="searchInput">
        <ul>
            <li><a href="/colors">Colors</a></li>
            <li><a href="/buttons">Buttons</a></li>
            <li><a href="/navigation">Navigation</a></li>
            <li><a href="/typography">Typography</a></li>
        </ul>
 
</div>
<!--Resources Sidebar -->
<div *ngIf="hasRoute('components/angularcomponents')">
   <h5 class="m-l-10 m-b-10">Angular Tabs</h5>
    <input type="text" (keyup)="SearchFunction()" class="control-search" placeholder="Search" id="searchInput">
    <ul>
        <li routerLink="components/angularcomponents/angulartabs" routerLinkActive="activetab"><a data-toggle="tab" role="tab">Angular Tabs</a></li>
    </ul>
</div>
<!--Kendo Sidebar -->
<div *ngIf="hasRoute('kendocomponents')">
   
    <h5 class="m-l-10 m-b-10">Kendo</h5>
    <input type="text" (keyup)="SearchFunction()" class="control-search" placeholder="Search" id="searchInput">
    <ul>
        <li id="kendodropdown" routerLink="components/kendocomponents/kendodropdown" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Kendo Dropdown</a></li>
        <li id="kendoinputs" routerLink="components/kendocomponents/kendoinputs" routerLinkActive="activetab"><a data-toggle="tab" role="tab">Kendo Inputs</a></li>
        <li id="kendomultiselect" routerLink="components/kendocomponents/kendomultiselect" routerLinkActive="activetab"><a data-toggle="tab" role="tab" >Kendo Multiselect</a></li>
        <li id="kendotable" routerLink="components/kendocomponents/kendotable" routerLinkActive="activetab" ><a data-toggle="tab" role="tab" >Kendo Table</a></li>
        <li id="kendodatepicker" routerLink="components/kendocomponents/kendodatepicker" routerLinkActive="activetab" ><a data-toggle="tab" role="tab" >Kendo Datepicker</a></li>
        <li id="kendocheckbox" routerLink="components/kendocomponents/kendocheckbox" routerLinkActive="activetab" ><a data-toggle="tab" role="tab" >Kendo CheckBox</a></li>
        <li id="kendoradiobutton" routerLink="components/kendocomponents/kendoradiobutton" routerLinkActive="activetab" ><a data-toggle="tab" role="tab" >Kendo Radio button</a></li>
        

        <!-- <li id="colors"><a data-toggle="tab" role="tab" (click)="loadTabComponent('kendodropdown')">Colors</a></li>
        <li id="typography"><a data-toggle="tab" role="tab" (click)="loadTabComponent('kendoinputs')">Buttons</a></li>
        <li id="typography"><a data-toggle="tab" role="tab" (click)="loadTabComponent('kendomultiselect')">Navigation</a></li>
        <li id="typography"><a data-toggle="tab" role="tab" (click)="loadTabComponent('kendotable')">Typography</a></li> -->
    </ul>

</div>
</div>
<!-- Second view activated when the route doesn't contain the home route -->
<!-- <div *ngIf="!hasRoute('home')">
    Second View
</div> -->


<div class="tab-content">
    <!-- <ng-template active-tab></ng-template> -->

    <router-outlet></router-outlet>
</div>
