 

<div class="pc-tab">
    <input checked="checked" id="tab1" type="radio" name="pct" />
    <input id="tab2" type="radio" name="pct" />
    <!-- <input id="tab3" type="radio" name="pct" /> -->
    <div class="row">
        <div class="col-md-12 p-l-0 m-t-10 ">
            <h5 class="m-b-10">Tabmenu  </h5>
        </div>
    </div>
    <nav>
        <ul>
            <li class="tab1">
                <label for="tab1">Details</label>
            </li>
            <li class="tab2">
                <label for="tab2">Source Code</label>
            </li>
            <!-- <li class="tab3">
            <label for="tab3">Third Tab</label>
          </li> -->
        </ul>
    </nav>
  
  
    <section class="tabsection">
        <div class="tab1">
            <section>
                <div class="tabset">
                  <!-- Tab 1 -->
                  <input type="radio" name="tabset" id="tabs1" aria-controls="marzen" checked>
                  <label for="tabs1">Tabs1</label>
                  <!-- Tab 2 -->
                  <input type="radio" name="tabset" id="tabs2" aria-controls="rauchbier">
                  <label for="tabs2">Tab2</label>
                  <!-- Tab 3 -->
                  <input type="radio" name="tabset" id="tabs3" aria-controls="dunkles">
                  <label for="tabs3">Tabs3</label>
                  
                  <div class="tab-panels">
                    <section id="marzen" class="tab-panel">
                      <h6 class="m-b-20"> 6A. Märzen</h6>
                      <p><strong>Overall Impression:</strong> An elegant, malty German amber lager with a clean, rich, toasty and bready malt flavor, restrained bitterness, and a dry finish that encourages another drink. The overall malt impression is soft, elegant, and complex, with a rich aftertaste that is never cloying or heavy.</p>
                      <p><strong>History:</strong> As the name suggests, brewed as a stronger “March beer” in March and lagered in cold caves over the summer. Modern versions trace back to the lager developed by Spaten in 1841, contemporaneous to the development of Vienna lager. However, the Märzen name is much older than 1841; the early ones were dark brown, and in Austria the name implied a strength band (14 °P) rather than a style. The German amber lager version (in the Viennese style of the time) was first served at Oktoberfest in 1872, a tradition that lasted until 1990 when the golden Festbier was adopted as the standard festival beer.</p>
                  </section>
                    <section id="rauchbier" class="tab-panel">
                      <h6 class="m-b-20">6B. Rauchbier</h6>
                      <p><strong>Overall Impression:</strong>  An elegant, malty German amber lager with a balanced, complementary beechwood smoke character. Toasty-rich malt in aroma and flavor, restrained bitterness, low to high smoke flavor, clean fermentation profile, and an attenuated finish are characteristic.</p>
                      <p><strong>History:</strong> A historical specialty of the city of Bamberg, in the Franconian region of Bavaria in Germany. Beechwood-smoked malt is used to make a Märzen-style amber lager. The smoke character of the malt varies by maltster; some breweries produce their own smoked malt (rauchmalz).</p>
                    </section>
                    <section id="dunkles" class="tab-panel">
                      <h6 class="m-b-20">6C. Dunkles Bock</h6>
                      <p><strong>Overall Impression:</strong> A dark, strong, malty German lager beer that emphasizes the malty-rich and somewhat toasty qualities of continental malts without being sweet in the finish.</p>
                      <p><strong>History:</strong> Originated in the Northern German city of Einbeck, which was a brewing center and popular exporter in the days of the Hanseatic League (14th to 17th century). Recreated in Munich starting in the 17th century. The name “bock” is based on a corruption of the name “Einbeck” in the Bavarian dialect, and was thus only used after the beer came to Munich. “Bock” also means “Ram” in German, and is often used in logos and advertisements.</p>
                    </section>
                  </div>
                  
                </div>
              </section>
                 </div>
        <div class="tab2">
         
             
            <div class="row">
              <div class="col-md-12 p-0">
                <h6 class="m-t-20 m-b-0">HTML</h6>
              </div>
            </div>
            
            <div class="html-content m-t-10">
                <pre>
        <![CDATA[
        <section>
            <div class="tabset">
              <!-- Tab 1 -->
              <input type="radio" name="tabset" id="tabs1" aria-controls="marzen" checked>
              <label for="tabs1">Tabs1</label>
              <!-- Tab 2 -->
              <input type="radio" name="tabset" id="tabs2" aria-controls="rauchbier">
              <label for="tabs2">Tab2</label>
              <!-- Tab 3 -->
              <input type="radio" name="tabset" id="tabs3" aria-controls="dunkles">
              <label for="tabs3">Tabs3</label>
              
              <div class="tab-panels">
                <section id="marzen" class="tab-panel">
                  <h6 class="m-b-20"> 6A. Märzen</h6>
                  <p><strong>Overall Impression:</strong> An elegant, malty German amber lager with a clean, rich, toasty and bready malt flavor, restrained bitterness, and a dry finish that encourages another drink. The overall malt impression is soft, elegant, and complex, with a rich aftertaste that is never cloying or heavy.</p>
                  <p><strong>History:</strong> As the name suggests, brewed as a stronger “March beer” in March and lagered in cold caves over the summer. Modern versions trace back to the lager developed by Spaten in 1841, contemporaneous to the development of Vienna lager. However, the Märzen name is much older than 1841; the early ones were dark brown, and in Austria the name implied a strength band (14 °P) rather than a style. The German amber lager version (in the Viennese style of the time) was first served at Oktoberfest in 1872, a tradition that lasted until 1990 when the golden Festbier was adopted as the standard festival beer.</p>
              </section>
                <section id="rauchbier" class="tab-panel">
                  <h6 class="m-b-20">6B. Rauchbier</h6>
                  <p><strong>Overall Impression:</strong>  An elegant, malty German amber lager with a balanced, complementary beechwood smoke character. Toasty-rich malt in aroma and flavor, restrained bitterness, low to high smoke flavor, clean fermentation profile, and an attenuated finish are characteristic.</p>
                  <p><strong>History:</strong> A historical specialty of the city of Bamberg, in the Franconian region of Bavaria in Germany. Beechwood-smoked malt is used to make a Märzen-style amber lager. The smoke character of the malt varies by maltster; some breweries produce their own smoked malt (rauchmalz).</p>
                </section>
                <section id="dunkles" class="tab-panel">
                  <h6 class="m-b-20">6C. Dunkles Bock</h6>
                  <p><strong>Overall Impression:</strong> A dark, strong, malty German lager beer that emphasizes the malty-rich and somewhat toasty qualities of continental malts without being sweet in the finish.</p>
                  <p><strong>History:</strong> Originated in the Northern German city of Einbeck, which was a brewing center and popular exporter in the days of the Hanseatic League (14th to 17th century). Recreated in Munich starting in the 17th century. The name “bock” is based on a corruption of the name “Einbeck” in the Bavarian dialect, and was thus only used after the beer came to Munich. “Bock” also means “Ram” in German, and is often used in logos and advertisements.</p>
                </section>
              </div>
              
            </div>
          </section>
    ]]>

    </pre>
            </div>
        </div>

    </section>

</div>


<div class="pc-tab1 m-t-20">
    <input checked="checked" id="pctab1" type="radio" name="pcpct" />
    <input id="pctab2" type="radio" name="pcpct" />
    <!-- <input id="tab3" type="radio" name="pct" /> -->
    <nav>
        <ul>
            <li class="pctab1">
                <label for="pctab1"> Details</label>
            </li>
            <li class="pctab2">
                <label for="pctab2">Source Code</label>
            </li>
            <!-- <li class="tab3">
            <label for="tab3">Third Tab</label>
          </li> -->
        </ul>
    </nav>
    <section class="tabsection">
        <div class="pctab1">
            <section>
                <div class="tabs1">
                  <input type="radio" name="tabs1" id="tabone" checked="checked">
                  <label for="tabone">Tab One</label>
                  <div class="tab-d ">
                    <h6>Tab One</h6>
                  </div>
                  
                  <input type="radio" name="tabs1" id="tabtwo">
                  <label for="tabtwo">Tab Two</label>
                  <div class="tab-d">
                    <h6>Tab Two</h6>
                  </div>
                  
                  <input type="radio" name="tabs1" id="tabthree">
                  <label for="tabthree">Tab Three</label>
                  <div class="tab-d">
                    <h6>Tab Three</h6>
                  </div>
                  
                </div>
               </section>
             </div>
        <div class="pctab2">
          
          <div class="row">
            <div class="col-md-12">
              <h6 class="">HTML</h6>
            </div>
          </div>
            <div class="html-content">
                <pre>

        <![CDATA[
      
        <section>
            <div class="tabs1">
              <input type="radio" name="tabs1" id="tabone" checked="checked">
              <label for="tabone">Tab One</label>
              <div class="tab-d ">
                <h6>Tab One</h6>
              </div>
              
              <input type="radio" name="tabs1" id="tabtwo">
              <label for="tabtwo">Tab Two</label>
              <div class="tab-d">
                <h6>Tab Two</h6>
              </div>
              
              <input type="radio" name="tabs1" id="tabthree">
              <label for="tabthree">Tab Three</label>
              <div class="tab-d">
                <h6>Tab Three</h6>
              </div>
              
            </div>
           </section>
    ]]> 

    </pre>
            </div>
        </div>

    </section>
</div>



   
   
