<div class="ngtabs">
    <ul>
        <li id="tab1" *ngFor="let tab of commontablist; index as i; first as isFirst">
          <a (click)="openTabList(i)" [ngClass]="{'active': selectedList === i }" href="javascript:void(0)">
            {{tab}}</a>
        </li>
      </ul>
      
      
      <div class="ng-tabcontent">
        <a class="button css-pop btn btn-primary" id="pop1" >Small</a> &nbsp;
    
            <a class="button css-pop btn btn-primary"  id="pop2" >Medium </a> &nbsp;
            
            <a class="button css-pop btn btn-primary"  id="pop3" >Large</a> &nbsp;
    
            <a class="button css-pop btn btn-primary"  id="pop4" >XL</a> &nbsp;            
    
            <a class="button css-pop btn btn-primary"  id="pop5" >XXL</a> &nbsp;
    
            <a class="button css-pop btn btn-primary"  id="pop6" >Right</a> &nbsp;
    
            <a class="button css-pop btn btn-primary"  id="pop7" >Left</a> &nbsp;
    
            <a class="button css-pop btn btn-primary"  id="pop8" >Bottom</a> &nbsp;
        <ng-container *ngIf="selectedList === 0">
            
    
        </ng-container>
       
        <ng-container *ngIf="selectedList === 1"> 
            <button ngxClipboard (click)='copyToClipboard(modalhtmlcopy, $event)' class="copybutton"
            [innerHTML]="copytxt"></button>
            <pre prism language="javascript" class="language-js">
                <code #modalhtmlcopy>
                    <![CDATA[
                   
                    ]]>
                </code>
            </pre> 
        </ng-container>
        <ng-container *ngIf="selectedList === 2">  
            </ng-container>
      </div>
</div>
    






   
        



<!-- <p>modals works!</p> -->


    <div id="pop1" class="css-pop-overlay" >
        <div class="css-pop-1 pop-small">
            <div class="modal-head">
                <h3>Css Popop <a class="close css-pop">&times;</a></h3>
               
            </div>
            <div class="modal-content">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="modal-footer">
                <button class="css-pop close btn btn-light text-dark ">Cancel</button>
                <button class="css-pop close btn btn-primary">Ok</button>
            </div>
           
        </div>
    </div>

    <div id="pop2" class="css-pop-overlay" >
        <div class="css-pop-1 pop-med">
            <div class="modal-head">
                <h3>Css Popop <a class="close css-pop">&times;</a></h3>
               
            </div>
            <div class="modal-content">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="modal-footer">
                <button class="css-pop close btn btn-light text-dark ">Cancel</button>
                <button class="css-pop close btn btn-primary">Ok</button>
            </div>
           
        </div>
    </div>

    <div id="pop3" class="css-pop-overlay" >
        <div class="css-pop-1 pop-large">
            <div class="modal-head">
                <h3>Css Popop <a class="close css-pop">&times;</a></h3>
               
            </div>
            <div class="modal-content">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="modal-footer">
                <button class="css-pop close btn btn-light text-dark ">Cancel</button>
                <button class="css-pop close btn btn-primary">Ok</button>
            </div>
           
        </div>
    </div>

    <div id="pop4" class="css-pop-overlay" >
        <div class="css-pop-1 pop-xl">
            <div class="modal-head">
                <h3>Css Popop <a class="close css-pop">&times;</a></h3>
               
            </div>
            <div class="modal-content">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="modal-footer">
                <button class="css-pop close btn btn-light text-dark ">Cancel</button>
                <button class="css-pop close btn btn-primary">Ok</button>
            </div>
           
        </div>
    </div>

    <div id="pop5" class="css-pop-overlay" >
        <div class="css-pop-1 pop-xxl">
            <div class="modal-head">
                <h3>Css Popop <a class="close css-pop">&times;</a></h3>
               
            </div>
            <div class="modal-content">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="modal-footer">
                <button class="css-pop close btn btn-light text-dark ">Cancel</button>
                <button class="css-pop close btn btn-primary">Ok</button>
            </div>
           
        </div>
    </div>

    <div id="pop6" class="css-pop-overlay" >
        <div class="css-pop-1 pop-right">
            <div class="modal-head">
                <h3>Css Popop <a class="close css-pop">&times;</a></h3>
               
            </div>
            <div class="modal-content">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="modal-footer">
                <button class="css-pop close btn btn-light text-dark ">Cancel</button>
                <button class="css-pop close btn btn-primary">Ok</button>
            </div>
           
        </div>
    </div>

    <div id="pop7" class="css-pop-overlay" >
        <div class="css-pop-1 pop-left">
            <div class="modal-head">
                <h3>Css Popop <a class="close css-pop">&times;</a></h3>
               
            </div>
            <div class="modal-content">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="modal-footer">
                <button class="css-pop close btn btn-light text-dark ">Cancel</button>
                <button class="css-pop close btn btn-primary">Ok</button>
            </div>
           
        </div>
    </div>

    <div id="pop8" class="css-pop-overlay" >
        <div class="css-pop-1 pop-bottom">
            <div class="modal-head">
                <h3>Css Popop <a class="close css-pop">&times;</a></h3>
               
            </div>
            <div class="modal-content">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="modal-footer">
                <button class="css-pop close btn btn-light text-dark ">Cancel</button>
                <button class="css-pop close btn btn-primary">Ok</button>
            </div>
           
        </div>
    </div>

