$font-size-muibreadcrumb-medium: $font-medium;
$font-size-muibreadcrumb-large: $font-large;

$font-weight-muibreadcrumb-bolder: $text-bolder;

$color-text-muibreadcrumb: $black-700;

$space-padding-muibreadcrumb-y: $space-micro;


#{$brandcall} {
    .MuiBreadcrumbs-li {
        font-size: $font-size-muibreadcrumb-medium;
        color: $color-text-muibreadcrumb;

        &>a {
            color: $color-text-muibreadcrumb;
            text-decoration: none;
        }
    }

    .MuiBreadcrumbs-li p {
        font-weight: $font-weight-muibreadcrumb-bolder;
        font-size: $font-size-muibreadcrumb-medium;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .MuiBreadcrumbs-separator {
        .MuiSvgIcon-fontSizeMedium {
            font-size: $font-size-muibreadcrumb-large;
            padding-top: $space-padding-muibreadcrumb-y;
        }
    }
}