 
.badge {
	display: inline-block;
	padding: 0.35em 0.65em;
	font-size: 11px;
	font-weight: 300;
	line-height: 1;
	color: #eee;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
	margin-right: 5px;
}
.rounded-pill {
	border-radius: 50rem !important;
}