<div class="container">
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
            <h2 class="m-b-10 display-b">Button</h2>
            <p class="m-b-30">A Button triggers an action or an event.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="ngtabs">
                <ul>
                    <li id="tab1" *ngFor="let tab of commontablist; index as i; first as isFirst">
                        <a (click)="openTabList(i)" [ngClass]="{'active': selectedList === i }"
                            href="javascript:void(0)"> {{tab}} </a>
                    </li>
                </ul>
            </div>
            <div class="ng-tabcontent">
                <ng-container *ngIf="selectedList === 0">
                    

    <div class="row">
        <div class="col-md-12 p-0">

            <section class="m-b-10">
                <h6 class="text-dark weight-500 m-b-5">Buttons</h6>
                <p class="m-b-20">The Button component has an appearance property with 4 available
                                    values: <label class="code-highlighter"> <span>primary</span>, <span>secondary</span> and
                                    <span>default</span>, <span>minimal</span> 
                                </label></p>
                <div class="row m-t-10">
                    <div class="col-12">
                        <a href="#" class="btn btn-primary"> Primary </a>
                        <a href="#" class="btn btn-secondary"> Secondary </a>
                        <a href="#" class="btn btn-light btn-shadow text-dark"> Default </a>
                        <a href="#" class="btn btn-white text-dark"> Minimal </a>


                    </div>
                </div>
            </section>

            <section class="m-b-10">
                <h6 class="text-dark weight-500 m-b-5"> Mixing Buttons appearance and intent</h6>
                <p class="m-b-20">The Button component has an appearance property with 4 available
                                    values: <label class="code-highlighter"><span>primary</span>, <span>secondary</span>,
                                    <span>success</span> and <span>danger</span>
                                </label></p>
                <div class="row m-t-10">
                    <div class="col-12">
                        <a href="#" class="btn btn-primary"> Primary </a>
                        <a href="#" class="btn btn-secondary"> Secondary </a>
                        <a href="#" class="btn btn-success"> Default </a>
                        <a href="#" class="btn btn-danger"> Minimal </a>
                    </div>
                </div>
            </section>
            <section class="m-b-10">
                <h6 class="text-dark weight-500 m-b-20">Disabled Buttons</h6>
                <div class="row m-t-10">
                    <div class="col-12">
                        <a href="#" class="btn btn-primary" disabled> Primary </a>
                        <a href="#" class="btn btn-secondary" disabled> Secondary </a>
                        <a href="#" class="btn btn-light btn-shadow text-dark" disabled> Default </a>
                        <a href="#" class="btn btn-white text-dark" disabled> White </a>
                    </div>
                </div>
            </section>
            <section class="m-b-10">
                <h6 class="text-dark weight-500 m-b-20">Outlined Buttons</h6>
                <div class="row m-t-10">
                    <div class="col-12">
                        <a href="#" class="btn btn-outlined-primary"> Primary </a>
                        <a href="#" class="btn btn-outlined-secondary"> Secondary </a>
                        <a href="#" class="btn btn-outlined-white btn-shadow text-dark"> Default </a>
                        <a href="#" class="btn btn-outlined-light btn-shadow text-dark" disabled> Light
                        </a>
                    </div>
                </div>
            </section>


            <section class="m-b-10">
                <h6 class="text-dark weight-500 m-b-20">Link Buttons</h6>
                <div class="row m-t-10">
                    <div class="col-12">
                        <a href="#" class="btn btn-primary-link"> Primary </a>
                        <a href="#" class="btn btn-secondary-link"> Secondary </a>
                        <a href="#" class="btn btn-success-link"> Default </a>
                        <a href="#" class="btn btn-warning-link"> Light </a>
                    </div>
                </div>

            </section>
            <section class="m-b-10">
                <h6 class="text-dark weight-500 m-b-20">Button Size's</h6>
                <div class="row m-t-10">
                    <div class="col-12">
                        <a href="#" class="btn btn-primary btn-lg"> btn-lg </a>
                        <a href="#" class="btn btn-primary btn-md"> btn-md </a>
                        <a href="#" class="btn btn-primary btn-sm"> btn-sm </a>
                        <a href="#" class="btn btn-primary btn-xs"> btn-xs </a>
                    </div>
                </div>

            </section>

            <section class="m-b-10">
                <h6 class="text-dark weight-500 m-b-20">Button Groups</h6>
                <div class="row m-t-10">
                    <div class="col-12">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary btn-lg">Left</button>
                            <button type="button" class="btn btn-primary btn-lg">Middle</button>
                            <button type="button" class="btn btn-primary btn-lg">Right</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outlined-primary btn-md">Left</button>
                            <button type="button"
                                class="btn btn-outlined-primary btn-md">Middle</button>
                            <button type="button" class="btn btn-outlined-primary btn-md">Right</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary btn-lg">Left</button>
                            <button type="button" class="btn btn-primary btn-lg active">Active</button>
                            <button type="button" class="btn btn-primary btn-lg">Right</button>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
                </ng-container>
                <ng-container *ngIf="selectedList === 1">
                
                   
                    <button ngxClipboard (click)='copyToClipboard(htmlContentToCopy, $event)' class="copybutton" [innerHTML]="copytxt"></button>
 <pre prism language="html" class="language-html">
    <code  #htmlContentToCopy>
     <![CDATA[
     <div class="row m-t-10">
         <div class="col-12">
             <a href="#" class="btn btn-primary"> Primary </a>
             <a href="#" class="btn btn-secondary"> Secondary </a>
             <a href="#" class="btn btn-light btn-shadow text-dark"> Default </a>
             <a href="#" class="btn btn-white text-dark"> Minimal </a>
         </div>
     </div>

     <section class="m-b-10">
         <h6 class="text-dark weight-500 m-b-20">Disabled Buttons</h6>
         <div class="row m-t-10">
             <div class="col-12">
                 <a href="#" class="btn btn-primary" disabled> Primary </a>
                 <a href="#" class="btn btn-secondary" disabled> Secondary </a>
                 <a href="#" class="btn btn-light btn-shadow text-dark" disabled> Default </a>
                 <a href="#" class="btn btn-white text-dark" disabled> White </a>
             </div>
         </div>
     </section>
     <section class="m-b-10">
         <h6 class="text-dark weight-500 m-b-20">Outlined Buttons</h6>
         <div class="row m-t-10">
             <div class="col-12">
                 <a href="#" class="btn btn-outlined-primary"> Primary </a>
                 <a href="#" class="btn btn-outlined-secondary"> Secondary </a>
                 <a href="#" class="btn btn-outlined-white btn-shadow text-dark"> Default </a>
                 <a href="#" class="btn btn-outlined-light btn-shadow text-dark" disabled> Light
                 </a>
             </div>
         </div>
     </section>


     <section class="m-b-10">
         <h6 class="text-dark weight-500 m-b-20">Link Buttons</h6>
         <div class="row m-t-10">
             <div class="col-12">
                 <a href="#" class="btn btn-primary-link"> Primary </a>
                 <a href="#" class="btn btn-secondary-link"> Secondary </a>
                 <a href="#" class="btn btn-success-link"> Default </a>
                 <a href="#" class="btn btn-warning-link"> Light </a>
             </div>
         </div>

     </section> 
     ]]>
        </code>
        </pre>

                </ng-container>
                <ng-container *ngIf="selectedList === 2">
                    <div class="col-12 p-30">
                        <h5> We will add content soon!</h5>
                    </div>
                </ng-container>
            </div>

        </div>
    </div>
    </div>